.first {
    background-image: url(../images/background-first.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

    &__box {
        max-width: 653px;
        width: 100%;
        height: 328px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__text {
        font-size: 14px;
        letter-spacing: 2.8px;
    }
}

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 2.8px;
    text-align: center;
    width: 503px;
    height: 63px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: $blue;
  }
  
  .searchButton {
    font-family: 'Aleo', serif;
    font-size: 14px;
    letter-spacing: 1.4px;
    width: 153px;
    height: 63px;
    border: 1px solid white;
    background: $blue;
    text-align: center;
    color: #fff;
    cursor: pointer;
  }
  