.header {
    background-color: $blue;
  
    &__nav {
        max-width: 1113px;
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & a {
            text-decoration: none;
    
            &:visited {
                color: beige;
            }

            &:hover {
                color: $blue-alt;
            }

            &:active {
                color: $blue-alt;
            }

        }

        &-logo {
            font-size: 24px;
            letter-spacing: 2.4px;
        }

        &-ul {
            list-style: none;
            display: flex;
        }

        &-li {
            margin-left: 40px;
        }

    }

}