

@media screen and (min-width: 801px) {
    .main-first {
        max-height: 685px;
        background-image: url(../images/background-main-first.png);
        background-size: 100%;
        background-repeat: no-repeat;
    
        &__box {
            max-width: 1113px;
            width: 100%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(2, 50%);
    
            &-info {
                max-width: 562px;
                max-height: 342px;
                display: grid;
                grid-template-rows: repeat(10, 45px);
            }
    
            &-title {
                grid-row: 6 / 7;
            }
    
            &-text-1 {
                grid-row: 7 / 8;
            }
    
            &-text-2 {
                grid-row: 9;
            }
    
            &-button {
                grid-row: 11;
            }
    
            &-btn {
                background-color: $blue;
                width: 228px;
                height: 63px;
                color: white;
                font-family: 'aleo', serif;
                font-size: 16px;
                letter-spacing: 1.2px;
            }
        
            &-imgs {
                display: grid;
                grid-template-rows: repeat(6, 1fr);
                grid-template-columns: repeat(6, 1fr);
                grid-row-gap: 10px;
                grid-column-gap: 20px;
        
            }
    
            &-img-1 {
                grid-row: 2 / 4;
                grid-column: 2 / 5;
            }
    
            &-img-2 {
                grid-row: 4 / 6;
                grid-column: 3 / 6;
            }
        }
    
        &-2__icons {
            background-color: #333333;
            height: 340px;
            display: grid;
      
    
            &-box {
                max-width: 1113px;
                width: 100%;
                margin: auto;
                display: flex;
                justify-content: space-around;
            }
    
            &-text {
                max-width: 1113px;
                width: 100%;
                margin: auto;
                display: flex;
                justify-content: space-around;
            }
        }
    
}
    
}

@media screen and (max-width: 800px) {
   .main-first {
        background-image: url(../images/background-main-first.png);
        background-repeat: no-repeat;
        background-position: center center;

        &__box {
            display: flex;

            &-info {
                padding: 15px;
            }

            &-btn {                
                background-color: $blue;
                width: 228px;
                height: 63px;
                color: white;
                font-family: 'aleo', serif;
                font-size: 16px;
                letter-spacing: 1.2px;
            }
        }
            
    &-2__icons {
        background-color: #333333;
        height: 200px;
              
        &-box {
            padding-top: 30px;
            max-width: 1113px;
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: space-around;
        }
    
            &-text {
                max-width: 1113px;
                width: 100%;
                margin: auto;
                display: flex;
                justify-content: space-around;
            }
 
        }
   }

    main-first__box {
        display: flex;
        flex-direction: column;
    }
    
}