body {
    color: black;

}

$alt-text-color: #E8E8E8;


h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 4.8px;
}

h2 {
    font-family: Aleo, serif;
    font-size: 36;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    letter-spacing: 6.82px;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1.6px;
}